* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;

    display: grid;
    place-items: center;
    gap: 40px;
}

.header {
    margin-top: 40px;
    width: clamp(400px, 80%, 800px);
    height: clamp(80px, 10%, 140px);
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    gap: 6px;

    background-color: black;
    color: white;
}
.header-cell {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 4px;
}

.header .title {
    font-weight: bold;
}

.header,
.header button,
select {
    border-radius: 4px;;
}

.header button,
select {
    padding: 6px;
    font-size: 1rem;
}
.header button {
    cursor: pointer;
}